@import "../assets/scss/main.scss";

$max-width: 230px;
$margin-bottom: 40px;

.about {
  @include themify($themes) {
    color: themed("mainColorLight");
  }
  max-width: $max-width;

  .image {
    width: 180px;
    max-width: $max-width;
    height: 180px;
    border-radius: 50%;
    overflow: hidden;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%); /* For Webkit browsers */
    filter: gray; /* For IE 6 - 9 */
    transition: all 0.6s ease;
    -webkit-transition: all 0.6s ease; /* Fade to color for Chrome and Safari */
    margin-bottom: $margin-bottom;

    &:hover {
      filter: grayscale(0%);
      -webkit-filter: grayscale(0%);
    }
  }

  .certification img {
    max-width: 92px;
  }

  .bio {
    margin-bottom: $margin-bottom;
    line-height: 1.4;
    font-size: 1.4rem;
  }

  @media only screen and (max-height: 700px) {
    .image {
      width: 120px;
      height: 120px;
    }
  }

  @include media(">small", "<=medium") {
    .bio {
    }
  }

  @include media("<=small") {
    .bio {
      line-height: 2rem;
      font-size: 1.4rem;
    }
  }

  @include media("<=medium") {
    text-align: center;
    margin-bottom: 0px;
    max-width: 100%;

    .image {
      margin: 0 auto $margin-bottom auto;
    }

    .bio {
      margin: 0 auto;
    }
  }
}
