@import "../assets/scss/main.scss";
@import "~flexboxgrid";

// Set box-sizing globally to handle padding and border widths
*,
*:after,
*:before {
  box-sizing: inherit;
}

// The base font-size is set at 62.5% for having the convenience
// of sizing rems in a way that is similar to using px: 1.6rem = 16px
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  margin: 0;
  font-size: 1.6em; // Currently ems cause chrome bug misinterpreting rems on body element
  font-weight: 300;
  letter-spacing: 0.01em;
  line-height: 1.6;
  font-family: "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light",
    "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

// Typography
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  letter-spacing: -0.1rem;
  margin-bottom: 2rem;
  margin-top: 0;
}

h1 {
  font-size: 4.6rem;
  line-height: 1.2;
}

h2 {
  font-size: 3.6rem;
  line-height: 1.25;
}

h3 {
  font-size: 2.8rem;
  line-height: 1.3;
}

h4 {
  font-size: 2.2rem;
  letter-spacing: -0.08rem;
  line-height: 1.35;
}

h5 {
  font-size: 1.8rem;
  letter-spacing: -0.05rem;
  line-height: 1.5;
}

h6 {
  font-size: 1.6rem;
  letter-spacing: 0;
  line-height: 1.4;
}

a {
  color: inherit;
}

.bold {
  font-weight: 600;
}

$vertical-padding: 50px;
$horizontal-padding: 64px;
$main-width: 65%;
$main-margin-right: 35%;
$aside-width: 35%;

.main {
  margin: 0 auto;
  @include themify($themes) {
    background: themed("mainBackground");
    color: themed("mainColor");
  }
  h3 {
    font-size: 2.4rem;
    line-height: 1.6;

    @include media("<=xsmall") {
      font-size: 2.8rem;
    }

    @include media(">=medium", "<large") {
      font-size: 3rem;
    }
  }

  // Setting the width and padding sizes
  @include media(">=large") {
    $main-width: calc(100% - 358px);
    $main-margin-right: 35%;
    $vertical-padding: 50px;
    $horizontal-padding: 8%;

    width: $main-width;
    margin-right: $main-margin-right;
    padding: $vertical-padding $horizontal-padding $vertical-padding
      $horizontal-padding;
  }
  @include media(">=medium", "<large") {
    $main-width: 70%;
    $main-margin-right: 30%;
    $vertical-padding: 50px;
    $horizontal-padding: 8%;

    width: $main-width;
    margin-right: $main-margin-right;
    padding: $vertical-padding $horizontal-padding $vertical-padding
      $horizontal-padding;
  }
  @include media(">xsmall", "<medium") {
    $main-width: 100%;
    $main-margin-right: 0;
    $vertical-padding: 50px;
    $horizontal-padding: 48px;

    width: $main-width;
    margin-right: $main-margin-right;
    padding: $vertical-padding $horizontal-padding 0 $horizontal-padding;
  }
  @include media("<=xsmall") {
    $main-width: 100%;
    $main-margin-right: 0;
    $vertical-padding: 50px;
    $horizontal-padding: 24px;

    width: $main-width;
    margin-right: $main-margin-right;
    padding: $vertical-padding $horizontal-padding 0 $horizontal-padding;
  }
}

.aside {
  @include themify($themes) {
    background-color: themed("sideBackground");
    color: themed("mainContrast");
  }
  align-self: stretch;
  margin: 0 auto;
  max-width: 358px;

  // Positioning on the side for
  // bigger screens
  @include media(">=medium") {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    right: 0;
    top: 0;
    height: 100%;

    .top {
      flex-grow: 1;
    }

    .bottom {
      width: 100%;
    }
  }

  // Positioning at the bottom for
  // smaller screens
  @include media("<medium") {
    position: relative;
    text-align: center;
    right: auto;
    top: auto;
    display: block;
    padding: $vertical-padding $horizontal-padding $vertical-padding
      $horizontal-padding;
    max-width: 100%;

    .bottom {
      padding: $vertical-padding $horizontal-padding 0 $horizontal-padding;
    }
  }

  // Setting the width and padding sizes
  @include media(">=large") {
    $aside-width: 35%;
    $vertical-padding: 50px;
    $horizontal-padding: 64px;

    width: $aside-width;
    padding: $vertical-padding $horizontal-padding $vertical-padding
      $horizontal-padding;
  }
  @include media(">=medium", "<large") {
    $aside-width: 30%;
    $vertical-padding: 50px;
    $horizontal-padding: 48px;

    width: $aside-width;
    padding: $vertical-padding $horizontal-padding $vertical-padding
      $horizontal-padding;
  }
  @include media(">xsmall", "<medium") {
    $aside-width: 100%;
    $vertical-padding: 50px;
    $horizontal-padding: 48px;

    width: $aside-width;
    padding: $vertical-padding $horizontal-padding $vertical-padding
      $horizontal-padding;
  }
  @include media("<=xsmall") {
    $aside-width: 100%;
    $vertical-padding: 50px;
    $horizontal-padding: 24px;

    width: $aside-width;
    padding: $vertical-padding $horizontal-padding $vertical-padding
      $horizontal-padding;
  }
}
