.recommendation-unit {
    padding: 1rem;
}
h2, h4 {
    margin-bottom: 1rem;
}
h2 {
    font-size: 1.8rem;
}
h4 {
    font-size: 1.6rem;
}
img {
    border-radius: 50%;
    max-width: 100%;
}
.slick-dots {
    bottom: -1rem;
}
.section-units {
    padding-bottom: 2rem;
}