@import '../../assets/scss/main.scss';

.tech-unit {
  .image {
    width: 100%;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;

  }
  
  @include media('>=medium', '<large') {
    .image {
      height: 110px;
    }
  }

  @include media('<=medium', '>xsmall') {
    padding-bottom: 15px;
    
    .image {
      height: 140px;
    }
  }

  @include media('<=xsmall') {
    padding-bottom: 15px;

    .image {
      height: 160px;
    }
  }
}